<!--main content-->
  <div class="main-content">
    <div class="container">
      <div class="row">
        <div class="content col-md-8 col-sm-12 col-xs-12">
          <div class="section-block">
            <div class="funding-meta"><p id="notice"><%= notice %></p>
              <h1>Edit My Profile</h1>

<%= form_for [@user, @profile] do |f| %>
<p>
    <%= f.label :Username %><br>
    <%= f.text_field :username %>
  </p>
 
  <p>
    <%= f.label :Description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :Date_Of_Birth %><br>
    <%= f.date_field :date_of_birth %>
  </p>

  <p>
    <%= f.label :Address %><br>
    <%= f.text_area :address %>
  </p>

  <p>
    <%= f.label :City %><br>
    <%= f.text_field :city %>
  </p>

  <p>
    <%= f.label :Category_of_Interest %><br>
    Music <%= f.check_box :interest %>
    Literature <%= f.check_box :interest %>
  </p>

   <p>
    <%= f.label :Gender %><br>
    <%= f.text_field :gender %>
  </p>

  <p>
    <%= f.label :Avatar %><br>
  	<%= f.file_field :avatar %>
  </p>

    <%= f.submit "Edit Listings"%>
<% end %>

</div>
</div>

</div>

</div>

</div>

</div>

  