<p id="notice"><%= notice %></p>

<h1> This is the profile page </h1>

<%= image_tag @profile.avatar.thumb %>
<%= @profile.username %>
<%= @profile.user_id %>
<%= @profile.description %>
<%= @profile.address %>

<%= link_to 'edit', edit_user_profile_path(profile_id: @profile)%>

