<p id="notice"><%= notice %></p><h1> This is the profile page </h1><table>
 <thead>
   <tr>
     <th>Username</th>
     <td><%= @profile.username %></td>
   </tr>
   <tr>
     <th>Description</th>
     <td><%= @profile.description %></td>
   </tr>  
   <tr>
     <th>Date of birth</th>
     <td><%= @profile.date_of_birth %></td>
   </tr>
   <tr>
     <th>Address</th>
     <td><%= @profile.address %></td>
   </tr>
   <tr>
     <th>City</th>
     <td><%= @profile.city %></td>
   </tr>
   <tr>
     <th>Category of interest</th>
     <td><%= @profile.interest %></td>
   </tr>
   <tr>
     <th>Gender</th>
     <td><%= @profile.gender %></td>
   </tr>
   <tr>  
     <th>Avatar</th>
     <th><%= image_tag @profile.avatar %>
     
 </thead>
</table>
 
<!--
<%= image_tag @profile.avatar %>
<%= @profile.username %>
<%= @profile.user_id %>
<%= @profile.description %>
<%= @profile.address %> -->
<%= link_to 'edit', edit_user_profile_path(profile_id: @profile)%>