<p id="notice"><%= notice %></p>

<h1> This is the profile page </h1>

<%= image_tag @profile.avatar %>
<%= @profile.username %>
<%= @profile.user_id %>

<%= link_to 'edit', edit_user_profile_path(profile: @profile)%>

