<br>
<%= javascript_include_tag "//static.opentok.com/webrtc/v2.2/js/TB.min.js" %>
<script>
function printMessage(message) {
  $('#messages').append(message + "<br>");
}

$(function() {
    var chatChannel;
    var username;

    function setupChannel() {
        chatChannel.join().then(function(channel) {
            printMessage(username + ' joined the chat.');
        });

        chatChannel.on('messageAdded', function(message) {
            printMessage(message.author + ": " + message.body);
         });
    }

    var $input = $('#chat-input'); 
    $input.on('keydown', function(e) {
        if (e.keyCode == 13) {
            chatChannel.sendMessage($input.val())
            $input.val('');
        }
     });

    $.post("/tokens", function(data) {
    username = data.username;
    var accessManager = new Twilio.AccessManager(data.token);
    var messagingClient = new Twilio.IPMessaging.Client(accessManager);

    messagingClient.getChannelByUniqueName('chat').then(function(channel) {
        if (channel) {
            chatChannel = channel;
            setupChannel();
        } else {
            messagingClient.createChannel({
                uniqueName: 'chat',
                friendlyName: 'Chat Channel' })
            .then(function(channel) {
                chatChannel = channel;
                setupChannel();
            });
        }
    });
});

});
</script>
<div class="col-lg-12 col-sm-12 videobox">
<table>
<tr><td rowspan="2" class="col-lg-3 col-sm-3 videotable">
<br>
    <div class="videopillar">
	<% if current_user == @stream.user %> 
	<% else %>
	<h1><%= @stream.user.username.upcase %>'S STREAM </h1>
	<% end %>
	<h2><%= @stream.title %></h2>
    <h4>by <%= link_to @stream.user.username, user_profile_path(user_id: @stream.user.id, id: @stream.user.profile.id) %></h4>
	<p><%= @stream.description %></p></div>
	</td>
    <td class="col-lg-6 col-sm-6">
    <div style="line-height:15%;">
        <br>
    </div>
	<% if current_user == @stream.user %>
	<div id="publisher" class="video-mask videoplay"><br>
	<% else %>
	<div id="stream" class="video-mask videoplay"></div>
	<% end %></td>
    <td rowspan="2" class="col-lg-3 col-sm-3">
    <br>
    <div class="videopillar">

  <div align="center">
  <h1>HELLO! <span class="glyphicon glyphicon-comment"></span></h1>
  <div id="messages"></div><br>
   <input id="chat-input" class="form-control" type="text" placeholder="Your message goes here..." autofocus/></div></td>
 <tr>
 <td class="col-lg-6 col-sm-6"><a href="/users/<%= @stream.user.id %>/streams/new" target="_blank"><button type="button" class="btn btn-primary btn-lg col-md-12" style="border-bottom:1px solid #e3e4e5">Edit Stream</button></a><a href="/users/<%= @stream.user.id %>/campaigns/<%= @stream.user.campaign.id %>" target="_blank"><button type="button" class="btn btn-primary btn-lg col-md-12">Visit Campaign</button></a><br></td></td></tr>
 </table>
</div>
	</div>
</div>