<div id='feature-background'>
  <div id='feature-index'>
    <div class='row'>
      <div class="col-md-3">
        <div class="page-header">
          <h3> &nbsp Categories </h3>
        </div>
          <div class="container">
              <ul class="list-group">
                <li class="list-group-item">Music</li>
                <li class="list-group-item">Art</li>
                <li class="list-group-item">Novels</li>
                <li class="list-group-item">Tutorials</li>
              </ul>
          </div>
      </div>

      <div class="col-md-9">
        <div class="page-header">
          <h3> Our Featured </h3>
        </div>
          <!--First Category-->
          <h4> Music </h4>
          <div class="row">
            <div class="span12">
              <div class="well">
                <div id="myCarousel" class="carousel fdi-Carousel slide">
                  <!-- Carousel items -->
                  <div class="carousel fdi-Carousel slide" id="eventCarousel" data-interval="0">
                    <div class="carousel-inner onebyone-carosel">                              
                      <div class="item active">
                        <div class="col-md-4">
                          <a href="#"><img src="http://lorempixel.com/200/200/abstract/1/" class="img-responsive center-block"></a>
                          <div class="text-center"><%= @campaign.first.title %></div>
                        </div>
                      </div>
                            <% if @campaign.is_a? Array %>
                            <% iterate_campaign = @campaign %>
                            <% else %>
                            <% iterate_campaign = @campaign.all %>
                            <% end %>
                            <% iterate_campaign.each do |x| %>
                      <div class="item">
                        <div class="col-md-4">
                          <a href="#"><img src="http://lorempixel.com/200/200/abstract/1/" class="img-responsive center-block"></a>
                          <div class="text-center"><%= x.title %></div>
                        </div>
                      </div>
                             <% end %>     
                    </div>
                    <a class="left carousel-control" href="#eventCarousel" data-slide="prev"></a>
                    <a class="right carousel-control" href="#eventCarousel" data-slide="next"></a>
                  </div>
                        <!--/carousel-inner-->
                </div><!--/myCarousel-->
              </div><!--/well-->
            </div>
          </div>
          
          <!--Second Category-->
          <h4> Art </h4>
          <div class="row">
            <div class="span12">
              <div class="well">
                <div id="myCarousel" class="carousel fdi-Carousel slide">
                  <!-- Carousel items -->
                  <div class="carousel fdi-Carousel slide music" id="eventCarousel2" data-interval="0">
                    <div class="carousel-inner onebyone-carosel">                              
                      <div class="item active">
                        <div class="col-md-4">
                          <a href="#"><img src="http://lorempixel.com/200/200/abstract/1/" class="img-responsive center-block"></a>
                          <div class="text-center"><%= @campaign.first.title %></div>
                        </div>
                      </div>
                            <% iterate_campaign.each do |x| %>
                      <div class="item">
                        <div class="col-md-4">
                          <a href="#"><img src="http://lorempixel.com/200/200/abstract/1/" class="img-responsive center-block"></a>
                          <div class="text-center"><%= x.title %></div>
                        </div>
                      </div>
                             <% end %>     
                    </div>
                    <a class="left carousel-control" href="#eventCarousel2" data-slide="prev"></a>
                    <a class="right carousel-control" href="#eventCarousel2" data-slide="next"></a>
                  </div>
                        <!--/carousel-inner-->
                </div><!--/myCarousel-->
              </div><!--/well-->
            </div>
          </div>

          <!--Third Category -->
          <h4> Novels </h4>
          <div class="row">
            <div class="span12">
              <div class="well">
                <div id="myCarousel" class="carousel fdi-Carousel slide">
                  <!-- Carousel items -->
                  <div class="carousel fdi-Carousel slide music" id="eventCarousel3" data-interval="0">
                    <div class="carousel-inner onebyone-carosel">                              
                      <div class="item active">
                        <div class="col-md-4">
                          <a href="#"><img src="http://lorempixel.com/200/200/abstract/1/" class="img-responsive center-block"></a>
                          <div class="text-center"><%= @campaign.first.title %></div>
                        </div>
                      </div>
                            <% iterate_campaign.each do |x| %>
                      <div class="item">
                        <div class="col-md-4">
                          <a href="#"><img src="http://lorempixel.com/200/200/abstract/1/" class="img-responsive center-block"></a>
                          <div class="text-center"><%= x.title %></div>
                        </div>
                      </div>
                             <% end %>     
                    </div>
                    <a class="left carousel-control" href="#eventCarousel3" data-slide="prev"></a>
                    <a class="right carousel-control" href="#eventCarousel3" data-slide="next"></a>
                  </div>
                        <!--/carousel-inner-->
                </div><!--/myCarousel-->
              </div><!--/well-->
            </div>
          </div>

          <!--Fourth Category-->
          <h4> Tutorials </h4>
          <div class="row">
            <div class="span12">
              <div class="well">
                <div id="myCarousel" class="carousel fdi-Carousel slide">
                  <!-- Carousel items -->
                  <div class="carousel fdi-Carousel slide music" id="eventCarousel4" data-interval="0">
                    <div class="carousel-inner onebyone-carosel">                              
                      <div class="item active">
                        <div class="col-md-4">
                          <a href="#"><img src="http://lorempixel.com/200/200/abstract/1/" class="img-responsive center-block"></a>
                          <div class="text-center"><%= @campaign.first.title %></div>
                        </div>
                      </div>
                            <% iterate_campaign.each do |x| %>
                      <div class="item">
                        <div class="col-md-4">
                          <a href="#"><img src="http://lorempixel.com/200/200/abstract/1/" class="img-responsive center-block"></a>
                          <div class="text-center"><%= x.title %></div>
                        </div>
                      </div>
                             <% end %>     
                    </div>
                    <a class="left carousel-control" href="#eventCarousel4" data-slide="prev"></a>
                    <a class="right carousel-control" href="#eventCarousel4" data-slide="next"></a>
                  </div>
                        <!--/carousel-inner-->
                </div><!--/myCarousel-->
              </div><!--/well-->
            </div>
          </div>
      </div> <!--section-col-md-9-->
    </div><!--row-page-content-->
  </div>
</div>
<div id="test1" onclick="window.location.hash='back'; ">

<script>
  $(document).ready(function () {
      $('#myCarousel').carousel({
          interval: 10000
      })

      $('.fdi-Carousel .item').each(function () {
          var next = $(this).next();
          if (!next.length) {
              next = $(this).siblings(':first');
          }
          next.children(':first-child').clone().appendTo($(this));
          if (next.next().length > 0) {
              next.next().children(':first-child').clone().appendTo($(this));
          }
          else {
              $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
          }
      });
  });
</script>

