 <div id='feature-index' class="container">
  <div class="page-header">
    <h1 class="text-center">Featured Campaigns</h1>
  </div>
  <p class="lead text-center">Here are some awesome pawsome talents that would be even better with your support!</p>
  <div class="container">
  <div class="row stylish-panel">
    <% @campaign.all.each do |x| %>
      <div class="col-md-4">
        <div id='hello'>
          <img src="http://lorempixel.com/200/200/abstract/1/" alt="Texto Alternativo" class="img-circle img-thumbnail">
          <h2><%= x.title %></h2>
          <p>Description: <%= x.description %></p>
          <p>Campaign ID:<%= x.id %></p>
          <p>Campaign User:<%= x.user.email %></p>
					<div id='hello2'>          
          	<a href="/featured/<%= x.id %>" class="btn btn-primary" title="See more"> Preview Campaign</a>
          </div>
        </div>
      </div>
  <% end %>
  </div>
</div>





	