

<div id="feature_show_campaign">
	<% x = @campaign %>
	<h1><%= x.title %></h1>
	Description: <%= x.description %><br>
	Rewards: <%= x.rewards %><br>
	Contributors: <%= x.total_contributors %><br>
	Total Amount Contributed: <%= x.total_amount_contribute %><br>
	Image: <%= x.campaign_images %><br>
	Taggings: <%= x.taggings %><br>
	Goal: <%= x.goal.goal_per_month %><br>
	Current Goal: <%= x.goal.current_per_month %><br>
</div>

		<%= link_to 'Go to Campaign Page', user_campaign_path(user_id: @user.id) %><br>
		<%= link_to 'be a hero', new_user_campaign_be_hero_path(user_id: @campaign.user.id, campaign_id: @campaign.id) %>

