<div class="col-lg-12 col-sm-12">
    <div class="card hovercard">
        <div class="card-background">
            <img class="card-bkimg" alt="" src="http://lorempixel.com/100/100/people/9/">
            <!-- http://lorempixel.com/850/280/people/9/ -->
        </div>
        <div class="useravatar">
            <img alt="" src="http://lorempixel.com/100/100/people/9/">
        </div>
        <div class="card-info"> <span class="card-title"><%= @campaign.title %></span>

        </div>
    </div>
    <div class="col-lg-3 col-sm-3">
    <% if @campaign.goal != nil %>
    <h2>Goals:</h2> 
Title: <%= @campaign.goal.title %><br>
Description: <%= @campaign.goal.description %><br>
Our Goals: <%= @campaign.goal.goal_per_month %><br>
Total Amount: <%= @campaign.goal.current_per_month %><br>


<%= link_to 'edit your goal here', edit_user_campaign_goal_path(campaign_id: @campaign.id, goal: @goal) %><br>


<%= link_to 'be a hero', new_user_campaign_be_hero_path(campaign_id: @campaign.id) %>
    <% end %></div>
    <div class="col-lg-9 col-sm-9">
    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <div class="hidden-xs">Overview</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                <div class="hidden-xs">Gallery</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <div class="hidden-xs">Posts</div>
            </button>
        </div>
    </div>

        <div class="well">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1">
          Description: <%= @campaign.description %><br>
Rewards: <%= @campaign.rewards %><br>
Total Contributors: <%= @campaign.total_contributors %><br>
Total Amount Contributed: $<%= @campaign.total_amount_contribute %><br>
Campaign Taggings: <%= @campaign.taggings %><br>
User ID: <%= @campaign.user_id %><br>

<%= link_to 'edit', edit_user_campaign_path(campaign: @campaign)%>
        </div>
        <div class="tab-pane fade in" id="tab2">
          Tab 2
        </div>
        <div class="tab-pane fade in" id="tab3">
          <% if current_user.id == @campaign.user.id %>
            <% @posts = Post.new(campaign_id: @campaign.id) %>
            <%= form_for(@posts, :url => user_campaign_posts_path(user_id: @campaign.user.id, campaign_id: @campaign.id)) do |f| %>
                Post here:
                  <%= f.text_field :body %>
                <%= f.label :Add_Campaign_Images %>
                  <%= f.file_field :post_images, multiple: true %>
                <%= f.submit %>
            <% end %><br>
            <% end %>
            <div class="col-sm-9">
            <h4>Posts:</h4>
                <% if @campaign.posts.length > 0 %>
                <% @campaign.posts.each do |x| %>
                    <% @comments = Comment.new(post_id: x.id) %>
                    <%= x.body %><br>
                    Posted at: <%= x.created_at %><br></div>
                    <% if x.comments.length > 0 %>
                    <div class="col-sm-9">
                     <div id="tb-testimonial" class="testimonial testimonial-primary">
                    <% x.comments.each do |comments| %>
                    <div class="testimonial-section">
                    <%= comments.body %></div>
                    <div class="testimonial-desc">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100" alt="" />
                      <div class="testimonial-writer">
                        <div class="testimonial-writer-name">User: <%= User.find(comments.user_id).email.to_s %><br>
                        Posted at: <%= Date.parse(comments.created_at.to_s) %>
                     </div></div></div><br>
                    <% end %>
                    <hr class="col-sm-9"><br></div>
                    <% end %>
        <%= form_for(@comments, :url => user_campaign_post_comments_path(user_id: @campaign.user.id, campaign_id: @campaign.id, post_id: x.id)) do |f| %>
        <%= f.text_field :body %>
        <%= f.submit %>
        <% end %>
        <br>
    <% end %>
        <% end %>
        </div>
      </div>
    </div>
    </div>
    </div>

<h2>Some Examples of Our Work in Progress: </h2>

<%= image_tag @campaign.cover_photo.desktop %>

<% image_num = 0 %>
  <% while image_num <= @campaign.campaign_images.length - 1 %>      
    <img src="<%= @campaign.campaign_images[image_num].thumb.url %>">
    <% image_num += 1 %>
  <% end %>


<!--  create_table "campaigns", force: :cascade do |t|
    t.string   "title"
    t.string   "description"
    t.string   "rewards"
    t.integer  "total_contributors"
    t.integer  "total_amount_contribute"
    t.string   "cover_photo"
    t.string   "campaign_images"
    t.string   "taggings"
    t.integer  "user_id"
    t.datetime "created_at",              null: false
    t.datetime "updated_at",              null: false
  end -->

