<div class="text-field">
  <%= form.label :email %>
  <div class="form-float">
  <%= form.text_field :email, type: 'email' %></div>
</div><br>

<div class="text-field">
  <%= form.label :username %>
  <div class="form-float">
  <%= form.text_field :username %></div>
</div><br>

<div class="password-field">
  <%= form.label :password %>
  <div class="form-float">
  <%= form.password_field :password %></div>
</div><br>