<h1> This is something to edit </h1>

<%= form_for [@user, @campaign, @goal] do |f| %>
<p>
    <%= f.label :Title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :Description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :Goal_Per_Month %><br>
    <%= f.text_area :goal_per_month %>
  </p>

    <%= f.submit "Edit Listings"%>
<% end %>
