<h1> Create your goals for the campaign here! </h1>

<%= form_for(@goal, url: user_campaign_goals_path(:user_id => @user.id)) do |f| %>
    <%= f.label :Title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :Description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
  	<%= f.label :goal_per_month %>
  	<%= f.number_field :goal_per_month %>
  </p>

    <%= f.submit "Create Goals"%>
<% end %>

