<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Music & Arts </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/featured">Featured</a></li>
      </ul>
      <% @search = Search.new %>
      <%= form_for @search, :html => {:class => "navbar-form navbar-left"}, :url => search_index_path do |f| %>
      <div class="form-group">
        <%= f.text_field :words, class: "form-control" %>
        </div>
        <%= f.submit "Search Tag", class: "btn btn-default" %>
        <% end %>

      <ul class="nav navbar-nav navbar-right">
      
        <li class="dropdown">
          <% if signed_in? %>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/users/<%=current_user.id%>/profiles/<%=current_user.profile.id%>">My Profile</a></li>
            <li><a href="/users/<%=current_user.id%>/streams/new">Create New Stream</a></li>
            <% if current_user.campaign == nil %>
              <li><a href="/campaign_setup/new"">Create New Campaign</a></li>
            <% else %>
              <li><a href="/users/<%=current_user.id%>/campaigns/<%=current_user.campaign.id%>">My Campaign</a></li>
            <% end %>
            <li><a href="#">Settings</a></li>

            <li><a href="#"> FAQ </a></li>
            <li role="separator" class="divider"></li>
            <li><a data-method="delete" href="<%= sign_out_path %>">Sign Out</a></li>
          </ul>
          <% else %>
           <a href="#signup" data-toggle="modal" data-target=".bs-modal-sm">Sign In/Register</a>
          <% end %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

   <!-- Modal -->
<div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <br>
        <div class='container'>
          <div class="bs-example bs-example-tabs">
              <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#signin" data-toggle="tab">Sign In</a></li>
                <li class=""><a href="#signup" data-toggle="tab">Register</a></li>
              </ul>
          </div>
        </div>
      <div class="container">
        <div class="modal-body">
          <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade active in" id="signin">
             <div id="clearance" class="sign-in">
                <h2>Sign In</h2>
                <%= render partial: '/sessions/form' %>
             </div>
          </div>
          <div class="tab-pane fade" id="signup">
              <div id="clearance" class="sign-up">
                <h2>Sign Up</h2>
                <% @user = User.new %>
                <%= form_for @user do |form| %>
                <%= render partial: 'clearance/users/form', object: form %>
                  <div class="submit-field">
                    <%= form.submit %>
                  </div>
                  <div class="other-links">
                    <%= link_to t(".sign_in"), sign_in_path %>
                  </div>
                <% end %>
              </div>
          </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      <center>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </center>
      </div>
    </div>
  </div>
</div>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

<!-- Post in line 45 -->
