<!DOCTYPE html>
<html>
<head>
  <title>NextFinalProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= Gon::Base.render_data %>

  <!-- Font Awesome Icons -->
  <script src="https://use.fontawesome.com/580fcae761.js"></script>


</head>

<body>
  <%= render '/layouts/navbar' %>
  <%= yield %>
</body>
</html>
